# Banco de dados
DB_NAME=bookmanager
DB_USERNAME=bookmanager
DB_PASSWORD=bookmanager

# JWT
JWT_SECRET=exemplo-32-bytes
JWT_EXPIRACAO=PT8H

WEB_PORT=3000
API_PORT=8080
DB_PORT=5432
MAIL_UI_PORT=8025

NEXT_PUBLIC_API_URL=http://localhost:8080
CORS_ORIGENS=http://localhost:3000
APP_URL_BASE=http://localhost:3000

# E-mail
EMAIL_PROVEDOR=smtp
MAIL_API_KEY=
MAIL_HOST=mail
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_AUTH=false
MAIL_STARTTLS=false
MAIL_FROM=nao-responda@bookmanager.local
MAIL_FROM_NOME=Book Manager
